// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.companies {
	@extend %content-section-styling;
	background: $lightGrey;

	.list-item {
		display: inline-block;
		width: 50%;
		padding-right: $sectionColumnGutter;
		padding-left: $sectionColumnGutter;
		vertical-align: middle;
		text-align: center;

		@extend %content-section-columns;
		padding-top: $sectionPadding/2;

		@media #{$medium-up} {
			width: 25%;
		}
	}
} 