// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.skills {
	@extend %content-section-styling;
	background: $red;
	
	h3 {
		color: $white;
	}

	.list-item {
		display: inline-block;
		width: 100%;
		padding-right: $sectionColumnGutter;
		padding-left: $sectionColumnGutter;
		vertical-align: top;

		@extend %content-section-columns;
		
		padding-top: $sectionPadding/2;

		@media #{$medium-up} {
			width: 50%;
			padding-top: $writingSectionPadding;
			padding-right: .5em;
			padding-left: .5em;
		}
		@media #{$large-up} {
			width: 33.333%;
		}

		i, p {
			color: $white;
		}
		i {
			font-size: 2.8em;
		}
	}
} 