// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.back {
	@extend %nav-back;
}

.hero-wrapper {
	// Need double quotes and spacing between numbers
	@include calc(height, "100% - 60px");
	@include background($filename: '../images/walk.png', $bgcolor: rgba($grey,.5), $bgattachment: fixed);

	// Fall back to prevent clipping when browser height is too small
	min-height: 450px;

	// Needed to position back arrow nav
	position: relative;

	.row {
		position: relative;
		height: 100%;

		.content {
			position: absolute;
			bottom: 10%;

			.text {
				width: 70%;
				
				h1, p {
					color: $white;
				}
			}
		}
	}
}