// Custom Universal Settings

// Font styling

@font-face {
  font-family: 'myriad-pro';
  src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1, h2 {
	font-family: 'myriad-pro', tahoma, verdana, sans-serif;
}
h3, h4, p {
	font-family: tahoma, verdana, sans-serif;
}
h1 {
	font-size: 3.5em;
}
h2 {}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.1em;
}
p {
	font-size: 1em;
}

// Color Settings