// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.image {
	@extend %content-section-styling;
	padding: 0;
	margin: 3em 0 0;
	background: $lightGrey;

	img {
		width: 100%;
	}

	// If section is first/last, use alternate padding values
	&.first {
		padding-top: $sectionPadding;
	}
	&.last {
		padding-bottom: $sectionPadding;
	}
}