// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.blockquote {
	@extend %content-section-styling;
	padding: $writingSectionPadding 0 0;

	// If section is first/last, use alternate padding values
	&.first {
		padding-top: $sectionPadding;
	}
	&.last {
		padding-bottom: $sectionPadding;
	}
	
	.text {
		@include grid-column(7);

		// Elimate excess padding on last paragraph
		p:last-child {
			margin-bottom: 0;
		}
	}
	.quote {
		@include grid-column(5);

		blockquote {
			color: $blue;
			font-size: 1.5em;
			line-height: 1.3;
			border: none;
		}
	}
}