// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.back {
	@extend %nav-back;
}

.hero-wrapper {
	height: 350px;

	@media #{$large-up} {
		height: 500px;
	}

	// Needed to position back arrow nav
	position: relative;

	.row {
		position: relative;
		height: 100%;

		.content {
			position: absolute;
			bottom: 10%;
			padding: 0 12%;

			.text {
				width: 100%;
				
				h1, p {
					color: $white;
				}
				p {
					font-style: italic;
				}
			}
		}
	}
}

// Writing Background Styling

&.writing-title-example {
	.hero-wrapper {
		@include background($filename: '../images/writings/slideshows/example/1.jpg', $bgcolor: rgba($grey,.5), $bgattachment: fixed);
		background-position: center;
	}
}
&.things-you-dont-learn-in-college {
	.hero-wrapper {
		@include background($filename: '../images/writings/things-you-dont-learn-in-college/hero.jpg', $bgcolor: rgba($grey,.8), $bgattachment: fixed);
		background-position: center;

		@media #{$medium-up} {
			@include background($filename: '../images/writings/things-you-dont-learn-in-college/hero.jpg', $bgcolor: rgba($grey,.5), $bgattachment: fixed);	
		}
	}
}