@import "app";
@import "_mixins";
@import "_custom-settings";

// Hero Section Styling

.hero-overflow {
	
	height: 100%;
	width: 100%;
	// Fall back to prevent clipping when browser height is too small
	// Need to have this value change for responsive
	min-height: 600px;

	@media #{$small-only} {
		min-height: inherit;
	}

	@include responsive();
}

.hero-wrapper {
	
	// SASS Foundation Columns
	.hero-row {
		@include grid-row();

		.hero-content {
			@include grid-column(12);
		}
	}

	&.homepage {
		// Need double quotes and spacing between numbers
		@include calc(height, "100% - 150px");
		overflow: hidden;

		@media #{$small-only} {
			height: auto;
		}

		.hero-content {
			@include hero-image-content();

			img {
				padding-top: 1em;
			}
			.text {
				padding-top: 6em;

				h1 {
					line-height: 1.3;
					margin: 0;
				}
				h4 {
					margin-bottom: 0;
					line-height: 1;
				}
				
				ul.nav {
					@include grid-row();
					list-style: none;
					// Overwriting default margins
					margin: 0;

					li {
						@include grid-column(6);
						padding: 0;
					}
				}
			}
		}
	}

	&.about {
		// Need double quotes and spacing between numbers
		@include calc(height, "100% - 60px");
		@include background($filename: '../images/walk.png', $bgattachment: fixed);

		// Fall back to prevent clipping when browser height is too small
		min-height: 450px;
	}

	&.writing {
		height: 300px;
		@include background($filename: '../images/walk.png');
	}

}

// Content Section Styling

.content-section {

	// SASS Foundation Columns
	.content-row {
		@include grid-row();

		.content {
			@include grid-column(12);
		}
	}

	&.homepage {
		&.hero-footer {
			background: #e06666;
			height: 150px;
			overflow: hidden;
			
			padding-top: 2em;
			p {
				line-height: 1;
				margin: 0;
				color: white;
			}
			a {
				color: white;
			}

			.content {
				padding: 0;
			}

			.thoughts {
				@include grid-column(7);
			}
			.currently-reading {
				@include grid-column(5);
				
				// Make this better, add scalable styling
				img {
					float: left;
					width: 20%;
					margin-top: -.7em;
				}
				aside {
					padding-left: 1em;
					float: right;
					width: 80%;
				}
			}
		}
		&.archives {
			background: #eee;

			.content {
				padding: 2em 0;
			}

			h2, p {
				// To force elements to line up correctly
				padding: 0 0.9375rem;
			}
			p {
				padding-top: 1em;
				margin: 0;
			}

			.post {
				@include grid-column(4);

				padding-top: 1em;

				p {
					padding: 0;
					margin: 0;
					line-height: 1;
				}
			}
		}
	}

	&.about {
		&.short-bio {
			img {
				@include grid-column(5);
				
				// To allow slight overlap over hero section
				margin-top: -30px;
			}
			.text {
				@include grid-column(7);
			}
		}
		&.skills {
			background: #e06666;

			.column {
				@include grid-column(4);
			}
		}
		&.companies {
			background: #eee;

			.column {
				@include grid-column(2);
			}
		}
	}

	&.writing {
		.blockquote {
			.text {
				@include grid-column(7);
			}
			.quote {
				@include grid-column(5);
			}
		}
		.text {
			.column {
				@include columns(2);
			}
		}
		.image-slider {
			&.tint-wrapper {
				background: #eee;
			}
			.orbit-slides-container {
				// Force slider to be specific height
				height: 500px;
				overflow: hidden;

				li {
					height: 500px;
				}
			}
		}
	}

	// Universal footer styling
	&.footer {
		background: white;

		.content {
			padding: 1em 0.9375rem;

			h3 {
				margin: 0;
			}
		}

		&.writing {
			.content {
				border-top: 1px solid grey;
			}
		}
	}

}